html {
  position: relative;
  min-height: 100%;
}
.cd-main-content {
  /* Margin bottom by footer height */
  height: -moz-calc(100% - 100px); /* Firefox */
 height: -webkit-calc(100% - 100px); /* Chrome, Safari */
 height: calc(100% - 100px); /* IE9+ and future browsers */
}
footer{
    position: relative;
}
@media (max-width: 767px){
  .cd-main-content {
    /* Margin bottom by footer height */
    height: fit-content;
    min-height: calc(100% - 200px);
  }
}
