@font-face{

font-family: 'DINPro';
src: url('../fonts/DINPro.ttf') format('truetype');
font-weight: normal;
font-style: normal;

}
@font-face{

font-family: 'MovaviBlack';
src: url('../fonts/EXO2.0-EXTRABOLD.otf') format('truetype');
font-weight: normal;
font-style: normal;

}
@font-face{

font-family: 'Skranji-Bold';
src: url('../fonts/Skranji-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;

}

.font-brand{
  font-family:'Skranji-Bold', sans-serif;
  padding: 3% 0;
  color: #fff;
}
body{
  background: url(../images/desktop/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'DINPro', sans-serif;
}
.big-main-block{
  background-color: #fff;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  box-shadow: 0 0 12px rgba(0,0,0,.15);
}
/* Скрываем "не тот" язык */
.en .ru,
.ru .en {
display: none;
}

/* Переключалки языка */
.lang-switcher {
/*border-bottom: 1px dashed;*/
cursor: pointer;
padding-bottom: 0px;
}
.lang-switcher:hover {
color: black;
}
/* Выделяем активную переключалку тоже с помощью классов родителя */
.en .lang-switcher--en,
.ru .lang-switcher--ru {
color: #fed9c8;
/*border-bottom: none;*/
display: none;
font-weight: bold;
cursor: default;
}



/*---------------------------------------
   SECTION HOME
-----------------------------------------*/
/*menu*/
/* --------------------------------

1. Auto-Hiding Navigation - Simple

-------------------------------- */
.cd-auto-hide-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;

  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}
.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.cd-auto-hide-header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}
.cd-auto-hide-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.cd-auto-hide-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.cd-main-content{
  margin-top: 55px;
}
.cd-primary-nav {
  background-color: #f3923d;
    display: inline-block;
    float: right;
    border-color: #f3923d;
  }
.cd-primary-nav > ul {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}
.cd-primary-nav > ul a {
  /* target primary-nav links */
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  color: #25283D;
  font-size: 1.8rem;
  border-top: 1px solid #f2f2f2;
}
.cd-primary-nav > ul a:hover, .cd-primary-nav > ul a.active {
  color: #8F3985;
}

.nav-open .cd-primary-nav ul,
.cd-primary-nav ul:target {
  /*
  	show primary nav - mobile only
  	:target is used to show navigation on no-js devices
  */
  display: block;
}



.navbar {
width: 90%;
max-width: 1280px;
margin: 0 auto;
opacity: 1;
box-shadow: 0px 2px 20px 0px rgb(70, 56, 40);
}
.navbar-brand {
    padding: 9px 15px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #f3923d;
    /*background-color: rgba(87,35,14, 0.8);*/
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: transparent;
}
.navbar-default .navbar-nav>li>a{
  color: #fff;
  font-weight: 600;
    font-size: 1pc;
    line-height: 1.6pc;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: inherit;
    color: #fff;

}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  color: #fff;
}

.navbar-nav{
  float: right;
  margin: 0;
}
.navbar-nav>li{
  float: right;
}
.nav>li>a {
  color: #fff;
    text-align: center;
    position: relative;
    display: block;
    padding: 15px 0;
  }
  .navbar-header{
    width: 100%;
  }
  .navbar-header>a{
    text-decoration: none;
    text-align: center;
position: relative;
display: -webkit-inline-box;
padding: 15px 0;
    color: #fff;
      font-weight: bold;
      font-size: 1.4pc;
      /*line-height: 1.6pc;*/
      line-height: 30px;
  }
  .container>.navbar-header{
    margin-left:0px;
  }
.navbar-toggle {
  margin-right: 0;
  border: none;
  margin-top: 12px;
}

/**HOME**/
#home{
  text-align: center;
  background-image: url(../images/desktop/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#home h2{
  font-family:'MovaviBlack', sans-serif;
  padding: 0% 0% 5%;
  color: #fff;

}

#home .button1{
  min-width: 200px;
  height: 63px;
  text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    padding: 13px 30px;
    margin: 19% 0 1%;
    border-radius: 5px;
  font-family: 'MovaviBlack', sans-serif;
  font-size: 1.5pc;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(#ffbe6c, #f97a0b);
    background-size: 200% auto;
    box-shadow: 6px 11px 20px rgb(70, 56, 40);
  transition: .5s;
}
/** END HOME **/
.center{
  text-align: center;
}
.thumb-wrap {
  margin: 5% 0;
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#description{
  padding: 3% 0;
  background-image: url(../images/desktop/description.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
#description h3{
  margin-bottom: 0px;
}
.ps{
  margin-bottom: 3%;
}
.orange{
  font-family:'MovaviBlack', sans-serif;
  color: #f3923d;
}
.padding3{
  padding: 3% 0;
}
.margintop3{
  margin-top: 3px;
}
#platforms, #download{
  padding: 3% 0;
  text-align: center;
}
#download .button1{
  margin-bottom: 1%;
  text-align: center;
    min-width: 200px;
  text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    padding: 10px 50px;

    border-radius: 5px;
  font-family: 'MovaviBlack', sans-serif;
  font-size: 1.5pc;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(#ffbe6c, #f97a0b);
    background-size: 200% auto;
    box-shadow: 6px 11px 20px rgba(70, 56, 40, 0.55);
  transition: .5s;
}
.mobile-block, .mobile-download{
  display: none;
}
.mobile-footer li{
  padding: 15px 0;
}
.mobile-footer li a{
color: #fff;
}
footer{
  background-color: #f3923d;
  color: #fff;

    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;

}

footer .navbar-nav{
  width: 100%;
}
footer .navbar-nav>li{
  width: 25%;
}
footer .nav>li>a {
  color: #fff;
  text-decoration: underline;
  font-weight: 500;
    text-align: center;
    position: relative;
    display: block;
    padding: 15px 0;
  }
  footer .nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: inherit;
}

.contacts{

  border-radius: 10px;
  padding: 3% 10% 1%;
}
.mobile-img{
  display: none;
}
@media (max-width: 1600px){
#home .button1{
  margin-top: 23%;
}
}
@media (max-width: 1350px){
#home .button1{
  margin-top: 20%;
}
}
@media (max-width: 1230px){
  .navbar{
    width: 100%;
  }
  .big-main-block{
    width: 100%;
  }
#home .button1{
  margin-top: 15%;
}
}
@media (max-width: 1050px){
#home .button1{
  margin-top: 15%;
}
}
@media (max-width: 930px){
#home .button1{
  margin-top: 12%;
}
}
@media (max-width: 820px){
#home .button1{
  margin-top: 10%;
}
}
@media (max-width: 410px){
#home .button1{
  margin-top: 20%;
}
}
@media only screen and (max-width: 992px) and (min-width: 768px){
  .container {
      width: auto;
  }
}
@media only screen and (max-width: 939px) and (min-width: 768px){
.navbar-header>a{
  font-size: 1.1pc;
    line-height: 1.8pc;

}
}
@media only screen and (max-width: 810px){
  #description{
    background-image: none;
  }
}


@media (max-width: 767px){
.navbar-header {
  width: 100%;
}
.navbar-default .navbar-nav>li>a{
  text-align: center !important;
}

#description h3{
  font-size: 1pc;
}
.navbar-nav>li {
    width: auto;
    float: none;
}
.content-page p:last-child{
  margin-bottom: 100px;
}
footer{
  height: auto;
}
}
@media (max-width: 750px){
.mobile-img{
  display: block;
}


#home .container{
  display: none;
}
#home .button1{
  margin-top: 30%;
}
.mobile-block{
  display: block;
}
.mobile-download{
  display: block;
}

.desktop-download{
  display: none;
}
#gameplay .container{
  padding: 0;
}
#description{
  background-image: none;
}
#description h2,
#description .desc {
display: none;
}
}
